body {
  background:#050917;
  color:white;
  font-family:Arial;
  text-align:center;
}

#site { display:none; margin-top:50px; }

button {
  padding:10px 20px;
  background:#5f84ff;
  border:none;
  color:white;
  cursor:pointer;
}
